/* NORMALIZING */

body {
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  min-height: (100vh - 36px);
  padding-top: 12px;
  padding-bottom: 36px; /* space for dock */
  background-color: #4DAAA9;

  /* Font - looks a bit blocky like the original 95 text */
  font-family: Arial, Helvetica, sans-serif;
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-size: 14px;
  color: white;
}
p {
  margin: 0;
}
a, a:hover, a:active {
  text-decoration: none;
  color: inherit; /* removes ugly blue color */
}
img {
  /* make images non-draggable because there's windows with drag functionality
    and this might be confusing if images drag for no reason */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

/* END NORMALIZING */



/* DESKTOP ICONS */

.icon {
  display: block;
  margin-left: 12px;
  height: 90px;
  width: 100px;
}
.icon > img {
  margin-left: 26px; /* ( .icon width - img width ) divided by 2 */
  height: 48px;
  width: 48px;
}
.icon > img:hover {
  cursor: pointer;
}
.icon > p {
  text-align: center;
}
p > span {
  padding: 0 2px;
}
p.selected > span {
  background-color: #0311A3;
  color: white;
  border: 1px dotted white;
}
.folder, .text-file {
  /* these images appear wider than the others so lets shrink them */
  margin-left: 28px !important;
  width: 44px !important;
}

/* END DESKTOP ICONS */



/* WINDOWS */

.window {
  display: none;
  position: absolute;
  left: 50%; /* gets overwritten by JS */
  top: 50%; /* gets overwritten by JS */
  width: 500px;
  height: 300px;
  background-color: white;
}

/* END WINDOWS - rest is in files.css because it's very long */



/* DOCK */

#dock {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  padding: 2px 4px; /* most browsers have rounded corners */
  background-color: #C3C7CB;
  border-top: 2px solid white;
  z-index: 10000; /* needs to be a very large number because of JS */
}
#start-button {
  height: 100%;
  width: auto;
  cursor: pointer;
}
#clock { /* clock contains the time and the volume button */
  height: 26px; /* same as calc(100% - padding) */
  float: right;
  width: 72px;
  border-top: 1px solid #868A8E;
  border-left: 1px solid #868A8E;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
#volume {
  margin: 2px 0 3px;
  height: calc(100% - 5px);
}
#time {
  float: right;
  margin-right: 8px;
  height: 26px;
  line-height: 26px;
  color: black;
  font-size: 14px;
}

/* END DOCK */
